.home {
   color:white;
}

.Card:hover {
   opacity: 0.6;
}


.songLibrary {
   color:white; 
}

.songList {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

}

.songCard {
   margin-right: 10px;
   margin-left: 10px;
}

.friendCard {
   margin-right: 10px;
   margin-left: 10px;
}


.friends {
   color:white; 
}

.friendsList {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}


.friendDelete {
   display: flex; 
   justify-content: left;
}

.playlistData {
   color:white; 
}
